<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Fornecedores</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <img src="/static/assets/{{ usuario[4] }}" alt="" class="foto-perfil2">
                <span class="ola">Seja Bem vindo, {{ usuario[1] }}!</span>
                <li>
                    <a href="#">Cliente</a>
                    <ul>
                        <li><a href="/cadastro_cl">Cadastro Cliente</a></li>
                        <li><a href="/consulta_cl">Consultar Cliente</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Fornecedor</a>
                    <ul>
                        <li><a href="/cadastro_fn">Cadastro Fornecedor</a></li>
                        <li><a href="/consulta_fn">Consultar Fornecedor</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Usuario</a>
                    <ul>
                        <li><a href="/cadastro_us">Cadastro Usuario</a></li>
                        <li><a href="/consulta_us">Consultar Usuario</a></li>
                    </ul>
                </li>
                <li>
                    <form style="display: inline;" action="/sair" method="post">
                        <button style="background-color: red; color: white; padding: 10px; border-radius: 5px;" type="submit">Sair</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>


    <div class="table-container2">
        <h2>Cadastro de Fornecedores</h2>
        <form action="/cadastro_fornecedor" method="post">
            <div class="campo-form">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" placeholder="Digite o Nome" required>
            </div>

            <div class="campo-form">
                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="Digite o Email" required>
            </div>

            <div class="campo-form">
                <label for="telefone">Telefone:</label>
                <input type="text" name="telefone" placeholder="Digite o Telefone" required>
            </div>

            <div class="campo-form">
                <label for="site">Site:</label>
                <input type="text" name="site" placeholder="Digite o Site" required>
            </div>

            <div class="campo-form">
                <label for="end_rua">Rua:</label>
                <input type="text" name="end_rua" placeholder="Digite a Rua" required>
            </div>

            <div class="campo-form">
                <label for="end_num">Número:</label>
                <input type="text" name="end_num" placeholder="Digite o Número" required>
            </div>

            <div class="campo-form">
                <label for="end_cid">Cidade:</label>
                <input type="text" name="end_cid" placeholder="Digite a Cidade" required>
            </div>

            <div class="campo-form">
                <label for="end_est">Estado:</label>
                <input type="text" name="end_est" placeholder="Digite o Estado" required>
            </div>

            <div class="campo-form">
                <label for="end_cep">CEP:</label>
                <input type="text" name="end_cep" placeholder="Digite o CEP" required>
            </div>

            <div class="campo-form">
                <label for="cnpj">CNPJ:</label>
                <input type="text" name="cnpj" placeholder="Digite o CNPJ" required>
            </div>

            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>
