<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
    <script>
        function showLoadingMessage() {
            const form = document.querySelector('.Login');
            form.addEventListener('submit', () => {
                alert("Aguarde enquanto carregamos o sistema...");
            });
        }

        window.onload = showLoadingMessage;
    </script>
</head>
<body>
    <form action="/login" method="post" class="Login">
        <h2>Login</h2>

        <div class="box-user">
            <input type="text" name="usuario" id="usuario" required>
            <label>Usuário</label>
        </div>

        <div class="box-user">
            <input type="password" name="senha" id="senha" required>
            <label>Senha</label>
        </div>

        <button type="submit">Entrar</button>
        <a href="/pre_cadastro" class="btn">Realizar um Cadastro</a>
    </form>
</body>
</html>
