<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pré-Cadastro</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
</head>
<body>
    <div class="container">
        <h2>Cadastro</h2>
        <form action="/pre_cadastro" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <input type="text" id="nome" name="nome" required placeholder=" " autocomplete="off">
                <label for="nome">Nome</label>
            </div>
            <div class="input-group">
                <input type="text" id="usuario" name="usuario" required placeholder=" " autocomplete="off">
                <label for="usuario">Usuário</label>
            </div>
            <div class="input-group">
                <input type="password" id="senha" name="senha" required placeholder=" ">
                <label for="senha">Senha</label>
            </div>
            <div class="input-group">
                <input type="file" name="imagem" id="imagem" accept="image/*">
                <label for="imagem">Imagem:</label>
            </div>
            <button type="submit">Cadastrar</button>
        </form>
        <div class="link-back">
            <p>A imagem que for selecionada não poderá ser trocada</p>
            <p>Já possui conta? <a href="/">Voltar para Login</a></p>
        </div>
    </div>
</body>
</html>
