<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vizualização</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <img src="/static/assets/{{ usuario[4] }}" alt="" class="foto-perfil2">
                <span class="ola">Seja Bem vindo, {{ usuario[1] }}!</span>
                <li>
                    <a href="#">Cliente</a>
                    <ul>
                        <li><a href="/cadastro_cl">Cadastro Cliente</a></li>
                        <li><a href="/consulta_cl">Consultar Cliente</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Fornecedor</a>
                    <ul>
                        <li><a href="/cadastro_fn">Cadastro Fornecedor</a></li>
                        <li><a href="/consulta_fn">Consultar Fornecedor</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Usuario</a>
                    <ul>
                        <li><a href="/cadastro_us">Cadastro Usuario</a></li>
                        <li><a href="/consulta_us">Consultar Usuario</a></li>
                    </ul>
                </li>
                <li>
                    <form style="display: inline;" action="/sair" method="post">
                        <button style="background-color: red; color: white; padding: 10px; border-radius: 5px;" type="submit">Sair</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <div class="table-container2">
        <h2>Dados do Cliente</h2>
        <div class="profile-container">
            <div class="profile-container">
                <div class="profile-details">
                    <p><strong>Nome:</strong> {{ clientes[1] }}</p>
                    <p><strong>E-mail:</strong> {{ clientes[2] }}</p>
                    <p><strong>Telefone:</strong> {{ clientes[3] }}</p>
                    <p><strong>Rua:</strong> {{ clientes[4] }}</p>
                    <p><strong>Numero:</strong> {{ clientes[5] }}</p>
                    <p><strong>Cidade:</strong> {{ clientes[6] }}</p>
                    <p><strong>Estado:</strong> {{ clientes[7] }}</p>
                    <p><strong>Cep:</strong> {{ clientes[8] }}</p>
                    <p><strong>Data de cadastro:</strong> {{ clientes[9] }}</p>
                    <p><strong>Cpf:</strong> {{ clientes[10] }}</p>
                </div>
            </div>
        </div>

        <div class="action-buttons">
            <a class="but1" href="/editar_cl/{{ clientes[0] }}" class="link-editar">Editar</a>
            <a class="but" href="/excluir_cl/{{ clientes[0] }}" class="link-excluir">Excluir</a>
        </div>
    </div>
</body>

</html>
